{% extends "network/layout.html" %}

{% block body %}
    <!--Create new post-->
    <button id="create">Create new post</button>
    <div class="container" id="new">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <h2>New Post</h2>
            <textarea class="form-control" placeholder="Create new post" name="new_post_content" id="" cols="30" rows="3"></textarea>
            <input class="btn btn-primary my-3" type="submit" value="Post">
        </form>
    </div>

    <!--Other posts-->
    <div id="posts">
        <h2>All posts</h2>
    </div>
{% endblock %}