body {
    background-color: #e6e5e7;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.31'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1, h2, h3 {
    font-family: 'Righteous', cursive;
}

#new {
    display: none;
}

.border {
    border: 1px solid;
    border-collapse: collapse !important;
    border-radius: 25%;
}

#user_log {
    color: white;
}

a {
    text-decoration: none;
}

div {
    overflow-wrap: break-word;
}

#datetime {
    font-size: 0.8rem;
}

.btn-outline-warning:hover {
    background-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(222,170,12,.5);
}

#post-div {
    background-color: white;
}

#post-div:hover {
    background-color: rgb(238, 238, 238);
}

#main-navbar {
    opacity: 0.9;
}

#profile-name {
    text-decoration: underline overline black;
}